#lan{
margin-left:500px;
}
#p1{
margin-left:300px;
color:darkblue;
}
#p2{
margin-left:450px;
color:blue;
}
#b1{
margin-left:350px;
}
#b2,#b3,#b4,#b5,#b6{
margin-left:20px;
}
#b7{
margin-left:500px;
margin-top:300px;
}