div {
	text-align: center;
	line-height: 150%;	
}

#popup {
	color: #0000AA;
    font-size: 18px;
    font-weight: 800;
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;
}

#order {
	line-height: 10%;
	text-align: center;
	font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;
	color: blue;
	font-size: 15px;
}

#buttondiv button {
	margin-top: 30px;
	margin-right: 25px;
	margin-bottom: 30px;
}

#formed {
	margin-top: 83px;
	color: #0000AA;
    font-size: 18px;
    font-weight: 700;
    line-height: 1%;
}

#span {
	color: blue;
    font-size: 15px;
    font-family: "Lucida Grande","Lucida Sans Unicode", "Lucida Sans", Verdana,Arial,sans-serif;
    font-weight: 500;
}

#formedbutton  {
	display: inline;
}

#formeddiv {
	font-size: 37px;
	font-weight: 500;
	margin-bottom: 30px;
}

#checkdiv {
	margin-top: 37px;
}

#ansdiv {
	font-size: 35px;
	font-weight: 400;
	margin-top: 10px;
}

#getsentenceid button{
	font-size: 20px;
}
